.skill-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.left{
}

.right{

}
.skill{
    padding: 5px;
    transition: 1s;
}
.skill:hover{
    background-color: #f39c12;
    scale: 1.2;
}
.skill-name{
    text-align: left;
    align-content: flex-start
}

/*
Languages section
*/
.languages-container{
    width: 100%;
    display: flex;

}
.languages{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.language{
    padding: 10px;
    transition: 1s;
}
.language:hover{
    background-color: #f39c12;
}
.frameworks{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.framework{
    padding: 10px;
    transition: 1s;
}
.framework-element{
    display: flex;
}
.language-logo{
    height: 30px;
    width: 30px;
    padding: 5px;
}
.language-name{
    text-align: left;
}